table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #fff;
}

table tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #333;
  background-color: #fff;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr th {
  font-weight: normal;
  border-bottom: 2px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

table tr td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

